body {
    background-color: rgb(216, 228, 215);
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

h1 {
    text-align: center;
    color: rgb(53, 51, 51);
    margin-bottom: 20px;
}

hr {
    border: 1px solid white;
    height: 2px;
    background-color: white;
    width: 80%;
    margin: 20px auto;


}

#board {
    background-color: rgb(150, 170, 144);
    width: 85vw;
    height: 90vh;
    border: 2px solid rgb(97, 92, 92);
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#board p {
    color: white;
    font-size: 18px;
    text-align: center;
}

#answer,
#attempts {
    align-items: center;
    justify-content: center;
}

#answer {
    display: flex;

}

#answer .letter {
    text-align: center;
    color: #ffffff;
    width: 50px;
    font-size: 40px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(24, 167, 55);
    border: 1px solid rgb(39, 104, 71);
    border-radius: 50%;
}

#attempts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#attempts .div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

input {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 50px;
    font-size: 40px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(73, 155, 107);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 50%;
}

.letter-input {
    text-transform: uppercase;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 20px;
}

button:hover {
    background-color: #037a55;
    cursor: pointer;
}

button:disabled {
    background-color: #b9bbba;
    cursor: pointer;
}


input:focus {
    outline: none;
    border: 1px solid #04AA6D;
    border-radius: 50%;
}

#playerinfo {
    text-align: center;
    color: #ffffff;
    
}